 html,
 body {
     font-family: Arial, Helvetica, sans-serif;
     margin: 0;
     padding: 0;
 }
 
 #map {
     height: 92vh;
 }
 
 .navbar {
     position: relative;
     min-height: 50px;
     border: 1px transparent;
 }
 
 .sidenav {
     width: 150px;
     position: fixed;
     z-index: 1;
     left: 10px;
     overflow-x: hidden;
     padding: 8px;
     background-color: black;
     border-radius: 15px;
 }
 
 .sidenav a {
     padding: 6px 8px 6px 16px;
     text-decoration: none;
     font-size: 18px;
     color: #2196F3;
     display: block;
 }
 
 @media screen and (max-height: 450px) {
     .sidenav {
         padding-top: 15px;
         padding-left: 10px;
     }
     .sidenav a {
         font-size: 18px;
     }
 }
 
 .list-group-item {
     color: black;
 }